{% extends 'base.html' %} {% load static %}
<!--Page Title -->
{% block title %}
<title>Home</title>
{% endblock title%}
<!-- Page Content -->
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Welcome to the website of Professor Jamada</h1>
        <h2>
          Africa's leading traditional herbalist and spritual healer based in
          Gauteng South Africa and Garbrone Botswana
        </h2>
        <div>
          <a href="#contact" class="btn-get-started scrollto">Get in Touch</a>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        <img
          src="{% static '/img/profile3.jpg' %}"
          class="img-fluid animated rounded"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="inner-page" style="padding: 0;" >
    <!-- Popular Courser -->
      <div id="pricing" class="pricing section-bg">
        <div class="container p-3" data-aos="fade-up">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              Explore the varity of services I offer to my clients in this section
            </p>
          </div>
    
   
          <div class="row">
            {% if services %}
            {% for service in services %}
            <div class="col-lg-3 col-md-6 mt-5" data-aos="fade-up" data-aos-delay="100">
              <!-- <div class=""> -->
                <div
                class="nav-link">
                  <img src="{{service.thumb.url}}" 
                  class="img-fluid rounded"
                  alt="" />
                  <h5 class="mt-3">{{ service.title }}</h5>
                  <p>{{ service.description }}</p>
              </div>
              <!-- </div> -->
            </div>
            {% endfor %}
            <!-- Otherwise -->
            {% else %}
            <h5>No services found</h5>
            {% endif %}
          </div>
        </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="21322"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="19031"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Success</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <section id="blog" class="inner-page" style="padding: 0;" >
    <!-- Popular Courser -->
      <div id="pricing" class="pricing section-bg">
        <div class="container p-3" data-aos="fade-up">
          <div class="section-title">
            <h2>Popular Blogs</h2>
            <p>
              Explore our works, and experiences of our clients in our blogs
            </p>
          </div>
    
   
          <div class="row">
            {% if blogs %}
            {% for blog in blogs %}
            <div class="col-lg-3 col-md-6 mt-5" data-aos="fade-up" data-aos-delay="100">
              <!-- <div class=""> -->
                <a href="{% url 'blog:blog_details' blog.id %}"
                class="nav-link">
                  <img src="{{blog.thumb.url}}" 
                  class="img-fluid rounded"
                  alt="" />
                  <h5 class="mt-3">{{ blog.title }}</h5>
                  <p>{{ blog.snippet }}</p>
                </a>
              <!-- </div> -->
            </div>
            {% endfor %}
            <!-- Otherwise -->
            {% else %}
            <h5>No blogs found</h5>
            {% endif %}
          </div>
        </div>
  </section>

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What our clients say</p>
      </div>

      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                I am really satisfied with your services, and thank you for offering me a way out in my love life. At first, i thought that i had lost the love of my life forever. Thanks a lot"
              </p>
              <h3>Mutebe Abdul</h3>
              <h4>Uganda</h4>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                t's been 7 years since a had promotion at work. Despite my heard work, I was always overlooked. I was very frustrated. However, a friend refereed me to Doctor Ali Cobra. I have never been happier. 3 Promotions in 1 year"
              </p>
              <h3>Nalule Desire</h3>
              <h4>Kenya</h4>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>
          I understand that you may have some questions about me and the services I offer. Here are answers to some of the frequently
          asked questions to provide you with more information.
        </p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-info icon-help"></i>
            <a
              data-bs-toggle="collapse"
              class="collapse"
              data-bs-target="#faq-list-1"
              >When can I pay Professor Jamada?
              <i class="bi bi-info icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div
              id="faq-list-1"
              class="collapse show"
              data-bs-parent=".faq-list"
            >
              <p>
                Professor Jamada is always at your service
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-info icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-2"
              class="collapsed"
              >Does Professor Jamada recieve money in foreign currency
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Professor Jamada recieves money in Dollars
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-info icon-help"></i>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq-list-3"
              class="collapsed"
              >What kinds of people does Professor Jamada work on?
              <i class="bx bx-chevron-down icon-show"></i
              ><i class="bx bx-chevron-up icon-close"></i
            ></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Professor Jamada works with all kinds of people across the world
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          Have a question or want to learn more about my services? I would
          love to hear from you! Reach out to me using the contact information
          provided below or fill out the form, and I will get back to you
          as soon as possible.
        </p>
      </div>

      <div class="row">
        <a href="#location" class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bi bi-map"></i>
            <h3>Address</h3>
            <p>
              Gauteng, South Africa. <br> 
              Garbrone, Botswana.
            </p>
          </div>
        </a>

        <a href="mailto:professorjamada@gmail.com" class="col-lg-3 col-md-6">
          <div class="info-box mb-4">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p>professorjamada@gmail.com</p>
          </div>
        </a>

        <a href="tel:+27783949018" class="col-lg-3 col-md-6">
          <div class="info-box mb-4">
            <i class="bi bi-phone"></i>
            <h3>Call</h3>
            <p>+277 8394 9018</p>
          </div>
        </a>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1835877.4197827247!2d26.805123122028842!3d-26.01070569714466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9512955411779f%3A0x6d9ee7c7cb5438e2!2sGauteng%2C%20South%20Africa!5e0!3m2!1sen!2sug!4v1701096246079!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-lg-6">
          <form
            action="{% url 'index:contact' %}"
            method="post"
            role="form"
            class="php-email-form"
          >
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <!-- Field -->
                {{form.name}}
                <!-- Field Error -->
                <p class="text-danger">{{form.name.error}}</p>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <!-- Field -->
                {{form.email}}
                <!-- Field Error -->
                <p class="text-danger">{{form.email.error}}</p>
              </div>
            </div>
            <div class="form-group mt-3">
              <!-- Field -->
              {{form.phone}}
              <!-- Field Error -->
              <p class="text-danger">{{form.phone.error}}</p>
            </div>
            <div class="form-group mt-3">
              <!-- Field -->
              {{form.message}}
              <!-- Field Error -->
              <p class="text-danger">{{form.message.error}}</p>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock content %}
